@model WebForms.Models.Question

<h2>Edit the question</h2>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="TemplateId" />
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label for="Text">Text</label>
        <input asp-for="Text" class="form-control" />
        <span asp-validation-for="Text" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="QuestionType">Type</label>
        <select asp-for="Type" class="form-control">
            <option value="Text">Текст</option>
            <option value="MultipleChoice">Choice</option>
        </select>
        <span asp-validation-for="Type" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>
